/* FEATURED WORK */
.temp-work-img {
    width: 50%;
    background: #00d;
    height: 300px;
    display: inline-block;
    vertical-align: top;
}

.temp-work-img:hover {
    background: #00f;
}

.work-card {
    width: 100%;
    margin-bottom: 30px;
}

.work-details {
    display: inline-block;
    width: 49%;
    padding-right: 10px;
    vertical-align: top;
}

.work-title {
    display: inline-block;
    margin-bottom: 15px;
    font-size: 22px;
    font-weight: bold;
    color: black;
    font-family: 'IBM Plex Serif', serif;
    margin-top: -7px;
}

.work-title:hover {
    color: grey;
}

.work-desc {
    color: black;
    line-height: 1.3em;
    font-size: 14px;
    max-width: 75%;
    /* text-align: justify; */
}

/* NEWS */
