/* RESET */
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    margin: 0;
    font-family: sans-serif;
}

a {
    text-decoration: none;
}

a:hover {
    text-decoration: none;
}


ul li {
    list-style: none;
    display: inline;
}

h1, h2, h3 {
    font-family: 'IBM Plex Serif', serif;
}

h1 {
    font-size: 25px;
    font-weight: unset;
}

/* NAV */
.nav {
    width: 95%;
    margin: 0 auto;
    padding: 10px 2.5% 10px 2.5%;

    /* display: flex;
    justify-content: space-between;
    align-items: center; */
    border-bottom: 1px dashed #000;

    font-family: 'IBM Plex Serif', serif;
    /* font-family: 'IBM Plex Sans', sans-serif; */
}

.nav-title {
    color: black;
    background: white;
    display: block;
    width: 100%;
    text-align: center;
}

.logo-top {
    font-size: 25px;
    letter-spacing: 2px;
}

.logo-bot {
    letter-spacing: 6px;
    font-size: 18px;
}

.nav-links {
    display: block;
    text-align: center;
    margin-top: 20px;
}

.nav-link {
    color: grey;
    background: white;
    display: inline-block;
    padding: 0px 10px;
    font-size: 12px;
    letter-spacing: 1px; /* for funzies  */
}

.nav-link:hover {
    color: black;
    /* background: black; */
}

/* COMPONENTS */
.container {
    width: 80%;
    max-width: 900px;
    margin: 0 auto;
    padding-bottom: 20px;
}

section {
    /* padding: 0 5%; */
    display: block;
    margin-top: 40px;   
}

.section-head {
    display: block;
    /* text-align: center; */
    font-size: 16px;
    letter-spacing: 0.2em;
    color: grey;
    margin-bottom: 30px;
}

/* People */
.person-card {
    display: inline-block;
    vertical-align:top;
    width: 225px;
    margin-right: 20px;
    margin-bottom: 20px;
}

.person-card:last-child {
    margin-bottom: 0;
}

.person-img {
    width: 100%;
    display: inline-block;
}

.person-desc {
    display: inline-block;
    max-width: 100%;
}

.person-name {
    font-size: 20px;
    line-height: 35px;
}

.person-title, .person-affiliation {
    font-size: 14px;
    margin-bottom: 3px;
}

.person-title {
    font-weight: bold;
}

#researchers, #faculty {
    align-items: top;
}

/* event */
.event-image {
    display: block;
    max-width: 100%;
    margin: 20px 0;
}

.event-link {
    font-size: 16px;
    display: inline-block;
    margin-left: 20%;

    vertical-align: top;
    border: 2px solid black;
    color: white;
    padding: 12px 10px 10px 10px;
    background: black;
}

.event-link:hover {
    background: #888;
    border: 2px solid #888;
    color: white;
}

.event-details-container {
    font-size: 16px;
    display: inline-block;
    width: 69%;
}

.event-desc {
    /* max-width: 60%; */
    margin: 10px 0;
    text-align: justify;
}

.event-container {
    padding-bottom: 100px;
}

.event-title {
    margin-top: 20px;
}
