<!DOCTYPE html>
<html>
    <head>
        <title>{{ page.title }}</title>

        <link href="https://fonts.googleapis.com/css?family=IBM+Plex+Sans|IBM+Plex+Serif" rel="stylesheet">
        <link rel="stylesheet" type="text/css" href="/css/main.css">
        <link rel="stylesheet" type="text/css" href="/css/home.css">
    </head>

    <body>
        <div class="nav">
            <a class="nav-title" href="/">
                <h1 class="logo-top">THING</h1>
                <h1 class="logo-bot">LAB</h1>
            </a>

            <ul class="nav-links">
                <li ><a class="nav-link" href="/index">ABOUT</a></li>
                <li ><a class="nav-link" href="/projects">PROJECTS</a></li>
                <li><a class="nav-link" href="/publications">PUBLICATIONS</a></li>
                <li><a class="nav-link" href="/people">PEOPLE</a></li>
                <li><a class="nav-link" href="/courses">TEACHING</a></li>
                %<li><a class="nav-link" href="/tools">TOOLS</a></li>
                <li><a class="nav-link" href="/contact">CONTACT</a></li>
                <li><a class="nav-link" href="/events">EVENTS</a></li>
            </ul>
        </div>

        <div class="container">
        
        {{ content }}
        
        </div>
    </body>
</html>
